@model HLSMP.ViewModel.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}
<style>
    table tr td{
    font-weight:bold;
    }
</style>
<h2 class="dashboard_head pb-2 mt-5">📊 District Tatima Dashboard</h2>

<div class="table_scroll">
<table class="table table-bordered table-hover table-striped text-center align-middle mb-4" style="font-size: 1.3rem">
    <thead>
        <tr>
            <th>District</th>
            <th>Total Tatimas</th> 
            <th>Total Tatimas Pending</th>
            <th>Total Tatimas Completed</th>
            <th>Pending At SOI</th>
            <th>Pending At Department</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TatimaSummaries)
        {
                <tr>
                <td>@item.District</td>
                    <td>@item.TotalTatimaDistrict</td>
                    <td>@item.TatimasPending</td>
                    <td>@item.TatimasCompleted</td>

                    <td>@item.PendingAtSOI</td>
                    <td>@item.PendingAtDepartment</td>


        </tr>}
       
    </tbody>
</table>
</div>